name: Update Changelog

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  changelog:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Generate changelog
        uses: orhun/git-cliff-action@v4
        with:
          config: .github/cliff.toml
          args: --verbose
        env:
          OUTPUT: CHANGELOG.md
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create Pull Request for changelog
        uses: peter-evans/create-pull-request@v7
        with:
          commit-message: 'docs: update changelog'
          title: 'docs: update changelog'
          body: 'PR automatique générée par le workflow changelog.'
          branch: 'chore/update-changelog'
          base: 'main'
          add-paths: |
            CHANGELOG.md
          labels: |
            docs
            automated
          delete-branch: true
